body {
  background-color: #010101;
  color: #a3d34b;
  font-family: "Helvetica Neue", Helvetica, "Arimo", Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
}

#overlay {
  display: none;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  /*filter: alpha(opacity=80);*/
}

#logo {
  margin-top: 50px;
}

#game-board {
  background: #222222 url("../../images/game-board.png") no-repeat center;
  border: 3px solid rgba(68, 68, 58, .5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  border-radius: 5px;
  height: 348px;
  margin: 25px auto;
  padding: 3px;
  width: 468px;
}

#game-board > div {
  float: left;
  height: 68px;
  width: 92px;
}

#game-board > div > img {
  margin-top: 18px;
}

.xtra-margin-left {
  margin-left: 2px;
}

.xtra-margin-top {
  margin-top: 2px;
}

.xtra-margin {
  margin: 2px 0 0 2px;
}

#game-winner {
  background-color: rgba(68,68,58,.5);
  border: 3px solid rgba(163, 211, 75, .5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  border-radius: 5px;
  display: none;
  height: 240px;
  left: 50%;
  margin-left: -200px;
  margin-top: -400px;
  padding-top: 60px;
  position: fixed;
  width: 400px;
}

/* refactor !!! */
.btn-play-again {
  background-color: #a3d34b;
  border: 3px solid rgba(68, 68, 58, .5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  opacity: .85;
  /*filter: alpha(opacity=85);*/
  padding: 6px 12px;
}
