@import "../_global.scss";

body {
  background-color: #010101;
  color: #a3d34b;
  font-family: "Helvetica Neue", Helvetica, "Arimo", Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
}

#logo {
  margin-top: 10px;
}

#game-winner {
  background-color: rgba(68,68,58,.5);
  border: 3px solid rgba(163, 211, 75, .5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  border-radius: 5px;
  display: none;
  height: 240px;
  left: 50%;
  margin-left: -200px;
  margin-top: -400px;
  padding-top: 60px;
  position: fixed;
  width: 400px;
}

/* refactor !!! */
.btn-play-again {
  background-color: #a3d34b;
  border: 3px solid rgba(68, 68, 58, .5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  opacity: .85;
  /*filter: alpha(opacity=85);*/
  padding: 6px 12px;
}

hr {
  width: 468px;
}
