@import "../_global.scss";

body {
  color: $baseColor;
  font: 400 14px/1.4;
    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased;
            font-smoothing: antialiased;
  font-family: "Arimo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  text-align: center;

  @include apply-to(min-width, $full-size) {
    font-size: 16px;
  }
}

a {
	color: $baseColor;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: $darkGray;
  }
}

footer a {
  color: $darkGray;
  font-size: .75em;

  &:hover {
    color: $baseColor;
  }
}

.text-underline {
  text-decoration: underline;
}

.caps {
  text-transform: uppercase;
}

.tiny-caps {
  font-size: .75em;
  text-transform: uppercase;
}

.big-caps {
  font-size: 1.15em;
  text-transform: uppercase;
}