@import "../_global.scss";

/*=================================
  Modal
-----------------------------------*/

#modal-overlay {
  background: $black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  background: rgba($black,.5);
  bottom: 0px;
  display: none;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 99;
}

.modal {
  background: $white;
  border: 1px solid #666;
  display: none;
  left: 50%;
  padding: 20px 30px;
  position: fixed;
  text-align: left;
  top: 50%;
  width: 400px;
  z-index: 100;

  .btn-wrap {
    text-align: center;
  }

}