---
title: "Mic Mac Moe"
---

<div id="overlay"></div>

<img id="logo" src="/images/logo-mic-mac-moe.png" alt="Mic Mac Moe" />

<div id="game-board"></div>

<button id="play-again" class="btn-play-again">Reset Game</button>

<div id="game-winner">
<button id="reset-game" class="btn-play-again">Play Again</button>
</div>

<script type="text/template" id="game-board-template"><div id="{{ id }}"<% if (typeof styles !== "undefined") { %> class="{{ styles }}"<% } %>></div></script>

<script type="text/template" id="win-template"><h1>Player {{ player }} Wins!</h1></script>